<div class="side">
  <p class="parent">Categories</p> 
  <div *ngFor="let entry of groupData | keyvalue; let i = index">
    <div *ngIf="showAll || i < initialLimit">
      <p class=""  style="cursor: pointer;">{{ entry.value }}</p>
    </div>
  </div>
  <h5 
  *ngIf="groupData && groupData.size > initialLimit" 
  (click)="showAll = !showAll" 
  class="text-primary"
  style="cursor: pointer;"
  >
    {{ showAll ? 'Show Less' : 'Show All' }}
  </h5>

  <hr />


  <div>
    <p class="parent">Brands</p>
    <ul  class="list-unstyled mb-3">
      <div *ngFor = "let company of companyList; let i = index">
      <li 
           *ngIf="showAllBrand || i < initialLimit"
          >
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="checkbox"
        />
        <label 
         class="form-check-label"
          for="flexCheckDefault"
          >{{company.companyName}}</label
        >
      </li>
    </div>
      <h5 
        *ngIf="companyList && companyList.length > initialLimit" 
        (click)="showAllBrand = !showAllBrand" 
        class="text-primary"
        style="cursor: pointer;"
        >
    {{ showAll ? 'Show Less' : 'Show All' }}
  </h5>

    </ul>
    <hr />
  </div>

  <!-- Supplier feature -->
  <div class="service mb-4">
    <p class="parent">Supplier Feature</p>
    <ul class="list-unstyled mb-3">
      <li></li>
      <li>
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="checkbox"
        />
        <label class="form-check-label" for="flexCheckDefault"
          >Trade Assureance</label
        >
      </li>
      <li>
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="checkbox"
        />
        <label class="form-check-label" for="flexCheckDefault"
          >Verified Supplier</label
        >
      </li>
      <li>
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="checkbox"
        />
        <label class="form-check-label" for="flexCheckDefault"
          >1h response time</label
        >
      </li>
      <li>
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="checkbox"
        />
        <label class="form-check-label" for="flexCheckDefault"
          >Free Shipping</label
        >
      </li>
    </ul>
    <hr />
  </div>

  <!-- Product feature -->

  <div class="service mb-4">
    <p class="parent">Product Feature</p>
    <ul class="list-unstyled mb-3">
      <li></li>
      <li>
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="checkbox"
        />
        <label class="form-check-label" for="flexCheckDefault"
          >Ready to ship</label
        >
      </li>
      <li>
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="checkbox"
        />
        <label class="form-check-label" for="flexCheckDefault"
          >Paid samples</label
        >
      </li>
      <li>
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="checkbox"
        />
        <label class="form-check-label" for="flexCheckDefault">New</label>
      </li>
    </ul>
    <hr />
  </div>

  <!-- Service -->

  <div class="service mb-4">
    <p class="parent">Service</p>
    <ul class="list-unstyled mb-3">
      <li></li>
      <li>
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="checkbox"
        />
        <label class="form-check-label" for="flexCheckDefault"
          >Installment</label
        >
      </li>
      <li>
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="checkbox"
        />
        <label class="form-check-label" for="flexCheckDefault"
          >Cash On Delivery</label
        >
      </li>

      <li>
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="checkbox"
        />
        <label class="form-check-label" for="flexCheckDefault"
          >Free Shipping</label
        >
      </li>
    </ul>
    <hr />
  </div>

  <div class="Location mb-4">
    <p class="parent">Location</p>
    <ul class="list-unstyled mb-3">
      <li></li>
      <li>
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="checkbox"
        />
        <label class="form-check-label" for="flexCheckDefault"
          >Bangladesh</label
        >
      </li>
      <li>
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="checkbox"
        />
        <label class="form-check-label" for="flexCheckDefault">China</label>
      </li>
    </ul>
  </div>
</div>
