<section class="foot ">
       <div class="row m-0 pt-4 pb-3">
           <div class="col-4 d-flex flex-column align-items-center ">
                <div class="">
                    <h5>Customer Care</h5>  
                    <p>Help Center</p>
                    <p>How to Buy</p>
                    <p>Returns & Refunds</p>
                    <p>Contact Us</p>
                    <p>Terms & Conditions</p>
                    <p>CCMS - Central Complain Management System</p>

                    <div class="mt-3">
                    <h5>Earn With Nimpex Healthcare</h5>
                    <p>Sell on Nimpex Healthcare</p>
                    <p>Code of Conduct</p>
                    <p>Join the Nimpex Healthcare Affiliate Program</p>
                  </div>
                </div> 
               
           </div>
           <div class="col-2 ">
                <h5>Nimpex Healthcare</h5>
                <p>About Nimpex Healthcare</p>
                <p>Digital Payments</p>
                <p>Nimpex Healthcare Blog</p>
                <p>Nimpex Healthcare Cares</p>
                <p>Nimpex Healthcare Mart</p>
                <p>Privacy Policy</p>
                <p>Nimpex Healthcare App</p>
                <p>Nimpex Healthcare Exclusives</p>
                <p>Nimpex Healthcare Donates</p>
           </div>
           <div class="col-3  d-flex flex-column justify-content-center align-items-center">
                <div class="">
                 <img class="img-fluid rounded qrCode ms-2" src="/assets/images/qrCode.png" alt="Not found">
                 <h6 class="mt-2 ms-2">Download App</h6>
                 <img class="playStoreIcond" src="/assets/images/PlayStore.png" alt=""> 
                </div>
           </div>

           <div class="col-3 d-flex flex-column justify-content-center">
                <h4>Payment Method</h4>
                <img class="payment-img img-fluid" src="/assets/images/payment-logo.png" alt="">
                <h4 class="mt-2">Follow Us</h4>
                <div class="">
                     <i class="bi bi-facebook icons"></i>
                     <i class="bi bi-instagram icons ms-3"></i>
                     <i class="bi bi-twitter icons ms-3"></i>
                     <i class="bi bi-youtube icons ms-3"></i>
                </div>
           </div>
        
       </div>
       <div class="pb-1">
           <p class="text-center">© 2023, NDE Technology, All Rights Reserved</p>
       </div>
</section>