.foot{
     background-color: #222831;
     color: white;
     /* color: black; */

}
p{
    margin: 0;
    font-size: 12px;
}
.qrCode{
    height: 6rem; 
}
.playStoreIcond{
     height: 2rem;
}
.payment-img{
     width: 15rem;
}
.icons{
   font-size: 1rem;
}