
<!-- Invoice design  -->
<section>
    <div class="invoice">
      <div class="header py-2">
        <h3 class="invoiceText">Invoice</h3>
      </div>
      <div class="content border-top-0 p-0">
        <div class="info">
          <div class="d-flex justify-content-center border-bottom border-top">
            <div class="row p-0" style="width: 100%">
              <div class="col-8 p-0">
                <div class="row"><h6 class="fst-italic">Bill To:</h6></div>
                <div class="div d-flex d-flex">
                  <span><strong>Name: </strong></span>
                  <span class="field_data">{{ invoice.buyerName }}</span>
                </div>
                <!-- <div class="div d-flex" >
                  <span><strong>Company: </strong></span>
                  <span class="field_data">{{ invoice.buyerCompanyName }}</span>
                </div> -->
                <div class="div d-flex">
                  <span><strong>Address:</strong></span>
                  <span class="field_data">{{ invoice.address }}</span>
                </div>
                <div class="div d-flex">
                  <span><strong>Phone: </strong></span>
                  <span class="field_data">{{ invoice.buyerPhone }}</span>
                </div>
              </div>
              <div class="col-4 text-end p-0">
         
              </div>
            </div>
          </div>
        </div>
  
        <div class="row d-flex mt-3 justify-content-center">
        
            <!-- <div class="row py-2 seller_info">
           
              <div class="col-8 p-0">
                <div class="row"><h6 class="fst-italic">Bill From:</h6></div>
                <div class="div d-flex">
                  <span><strong>Name: </strong></span>
                  <span class="field_data">{{invoice.orderInvoiceDetailList[0].selesPerson }}</span>
                </div>
                <div class="div d-flex">
                  <span><strong>Address: </strong></span>
                  <span class="field_data"> {{invoice.orderInvoiceDetailList[0].selesAddress }}</span>
                </div>
              </div>
             
              <div class="col-4 text-end p-0">
                <div class="div d-flex justify-content-end">
                  <span><strong>Delivery Date: </strong></span>
                  <span class="field_data"> {{invoice.orderInvoiceDetailList[0].selesPerson }}</span>
                </div>
                <div class="div d-flex justify-content-end">
                  <span><strong>Phone: </strong></span>
                  <span class="field_data">{{invoice.orderInvoiceDetailList[0].sellerContact }} </span>
                </div>
              </div>
            </div> -->
  
            <div class="table-responsive">
              <table class="items table">
                <tr class="table_header">
                  <th>Porduct</th>
                  <th>Description</th>
                  <th>Seller Address</th>
                  <th>Seller contact</th>
                  <th>Delivery Date</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Sub Total</th>
                </tr>
                <ng-container *ngFor="let product of invoice.orderInvoiceDetailList">
                  <tr *ngIf=" product.status !== 'Rejected'">
                    <td>{{ product.productName }}</td>
                    <td>{{ product.specification }}</td>
                    <td>{{ product.selesAddress }}</td>  
                    <td>{{ product.sellerContact }}</td>
                    <td>{{ product.deliveryDate }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.price }}Tk</td>
                    <td>{{ product.netPrice }}Tk</td>
                  </tr>
                </ng-container>
   
              </table>
            </div>
            
              <!-- <div class="table-responsive">
                <table class="items table">
                  <tr class="table_header">
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Sub Total</th>
                  </tr>
               
                   <tr> 
                    <td>{{ invoice.orderInvoiceDetailList[0].productName }}</td>
                    <td>{{ invoice.orderInvoiceDetailList[0].specification }}</td>
                    <td>{{ invoice.orderInvoiceDetailList[0].quantity }}</td>
                    <td>{{ invoice.orderInvoiceDetailList[0].price }}Tk</td>
                    <td>{{ invoice.orderInvoiceDetailList[0].subTotalPrice }}Tk</td>
                  </tr>
                </table>
              </div> -->
           
   
          <!-- <div class="total">
            <p>
              <strong>Total:</strong>
              {{ invoice.totalPrice }}Tk
            </p>
          </div> -->
          <div class="table-responsive" *ngIf="invoice.orderInvoiceDetailList">
            <table class="items table">
              <tr>
                <td class="totalPrice_col">Delivery charge</td>
                <td>{{ invoice.orderInvoiceDetailList[0].deliveryCharge }}tk</td>
              </tr>
              <tr>
                <td class="totalPrice_col">Total</td>
                <td>{{ invoice.orderInvoiceDetailList[0].subTotalPrice }}tk</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  