<div class="inventoryBody">
  <div class="inventory_header bg-white d-flex justify-content-center p-2">
    <h1 class="inventory_header_text">Inventory</h1>
  </div>

  <div class="inventory_search_div bg-white mt-3 pt-4">
    <!-- search_by_all -->
    <div class="search_by_all d-flex px-4">
      <div class="search-container">
        <input
          id="searchInput"
          type="text"
          class="search-input"
          (keyup)="onKeyUp($event)"
          [(ngModel)]="searchInputValue"
          placeholder="{{ placeholder }}{{ searchby }}"
        />
        <i class="fa-solid fa-search search-icon" ></i>
      </div>

      <div class="dropdown">
        <button
          class="dropdown-toggle bg-white"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ SearchByname }}
        </button>
        <ul
          style="z-index: 2000"
          class="dropdown-menu search_Name_list"
          aria-labelledby="dropdownMenuButton1"
        >
          <li>
            <a class="dropdown-item" (click)="setSearchOption('GroupCode')">
              Group Code</a
            >
          </li>
          <li>
            <a class="dropdown-item" (click)="setSearchOption('GoodsName')">
              Goods Name</a
            >
          </li>

        </ul>
      </div>
    </div>
    <!-- search_by_all end -->
  </div>

  <!-- table -->

  <div class="table-responsive bg-white p-4 ">
    <table class="table table-striped   ">
      <thead class="table-header">
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Group Code</th>
          <th scope="col">Goods Name</th>
          <th scope="col">Available Quantity</th>
          <th scope="col">Total Quantity</th>
          <th scope="col">Sales Quantiy</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody >
        <tr class="text-center" >
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mutuydo</td>
        </tr>
        <tr class="text-center">
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr class="text-center">
          <th scope="row">3</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
