body {
  background: var(--background-color);
}
.test {
  /* background-image: url("/assets/images/abstract-user-flat-3.jpg");
  background-repeat: no-repeat;
  width: 500px;
  height: 500px; */
  /* height: 100%;
  width: 100%; */
  /* background-image: url("/assets/images/underConstruction.jpg");
  background-repeat: no-repeat;

  background-size: cover; */
}
img{

}