.head {
  background-color: var(--color-primary);
  height: 100px;
}
.head img {
  height: 100px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.containgFields {
  width: 50rem;
  margin: 0 auto;
  padding: 20px;
  background: var(--background-color);
  box-shadow: 0 0 1rem var(--color-gray);
}

h2 {
  text-align: center;
}

.register_title {
  font-size: 2.5rem;
  color: var(--color-primary);
  text-shadow: 2px 2px 2px rgb(34, 77, 85);
}
.form-group {
  /* margin-bottom: 10px; */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 35px;
}
.textAreaDesign {
  resize: none;
  height: 6.2rem;
}
.checkbox-group {
  margin-top: 10px;
  /* margin-bottom: 20px; */
}

.checkbox-group label {
  display: inline-block;
  margin-right: 10px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--color-primary);
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
}
.button:hover {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.error {
  border-color: red !important;
}
/* .pass_container .col-6 {

    width: 47% !important;
  } */
.form_content {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.allUser,
.sellerNbothOnly {
  flex-basis: 45%;
}

.otpInput::-webkit-inner-spin-button,
.otpInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.otpInput:focus,
.verify_btn:focus {
  border: 1px solid var(--color-primary);
  box-shadow: 0 0 0.2rem var(--color-primary);
}
.error {
  border: 1px solid red;
  box-shadow: 0 0 0.2rem red;
}
.resend_btn {
  background: transparent;
  font-weight: 500;
  font-size: 0.9rem;
}
.resend_btn.active {
  background: transparent;
  color: var(--color-primary);
  font-weight: 500;
  font-size: 0.9rem;
}
.verify_btn {
  background: var(--color-primary);
  color: #ffff;
}
.timer {
  font-weight: 500;
}

.modal-heading {
  background-color: var(--color-primary);
}

/* grid design */

/* header text design*/
.companyApproval_header_text {
  color: var(--color-primary);
}

/* table design */

.headerRow,
.tablebodyRow {
  flex-wrap: nowrap;
}
.scrollable-table {
  height: 35rem; /* Adjust the height as needed */
  overflow-y: scroll;
  overflow-x: auto;
}
.headerRow {
  text-align: center;
}
.tablebodyRow {
  text-align: center;
}
.tableHeader,
.tableBody {
  min-width: 10rem;
}

.tableBody {
  background-color: white;
  padding: 0.7rem;
  border-bottom: 1px solid var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableHeader {
  background-color: #e5f1f7;
  padding: 0.8rem;
  border-bottom: 1px solid var(--color-gray);
}

/* modal heading */
.modal-heading {
  background-color: var(--color-primary);
}
.headerbtns .custom-btn {
  background: #f0faff;
  color: rgb(3, 20, 43);
  font-weight: 500;
  border: 1px solid var(--color-primary-dark);
}

.headerbtns .btn-active {
  border: 1px solid #78ac8b;
}
.headerbtns .btn-inactive {
  border: 1px solid #a4a554;
}

.headerbtns .new-btn.active {
  background-color: var(--color-primary-dark) !important ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #ebf8ff !important;
}
.btn-active.active {
  background-color: #78ac8b !important ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #ebf8ff !important;
}
.btn-inactive.active {
  background-color: #a4a554 !important ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #ebf8ff !important;
}

.btn-trade-company {
  width: 4rem !important;
}

.actionBtn {
  cursor: pointer;
  background: none;
  border: none;
}

.addproduct-btn {
  width: 10rem !important;
}

/* .marginBackBtn{
  margin-left: 10rem;
} */
.product_image {
  width: 6rem;
  height: 4rem;
}

.active-row {
  background-color:rgb(233, 238, 243);
}

