<div class="container containgFields mt-5 mb-5 rounded">
  <h2 class="register_title">Add Product</h2>
  <hr />
  <form [formGroup]="addProductForm">
    <div class="form-group">
      <label for="productGroupID"
        ><span class="text-danger">*</span>Product Group Name</label
      >
      <select
        id="productGroupID"
        formControlName="productGroupID"
        [class.error]="isFieldInvalid('productGroupID')"
      >
        <option value="" disabled>Select Product Group</option>
        <option
          *ngFor="let group of productGroups"
          [value]="group.productGroupID"
        >
          {{ group.productGroupName }}
        </option>
      </select>
      <span class="text-danger" *ngIf="isFieldInvalid('productGroupID')"
        >Product Group Name is required.</span
      >
    </div>

    <div class="form-group">
      <label for="productName"
        ><span class="text-danger">*</span>Product Name</label
      >
      <input
        type="text"
        id="productName"
        formControlName="productName"
        [class.error]="isFieldInvalid('productName')"
      />
      <span class="text-danger" *ngIf="isFieldInvalid('productName')"
        >Product Name is required.</span
      >
    </div>

    <div class="form-group">
      <label for="productSubName -"> Product SubName </label>
      <input type="text" id="productSubName" formControlName="productSubName" />
    </div>

    <div class="form-group">
      <label for="specification"
        ><span class="text-danger">*</span>Specification
      </label>
      <textarea
        type="text"
        id="specification"
        class="textAreaDesign"
        formControlName="specification"
        [class.error]="isFieldInvalid('specification')"
      ></textarea>

      <span class="text-danger" *ngIf="isFieldInvalid('specification')"
        >Specification is required.</span
      >
    </div>

    <div class="form-group">
      <label for="unitId"><span class="text-danger">*</span>unitId</label>

      <select
        name="unitId"
        id="unitId"
        formControlName="unitId"
        [class.error]="isFieldInvalid('unitId')"
      >
        <option value="" disabled>Select Unit</option>
        <option *ngFor="let unit of units" [value]="unit.unitId">
          {{ unit.name }}
        </option>
      </select>

      <span class="text-danger" *ngIf="isFieldInvalid('unitId')"
        >unitId is required.</span
      >
    </div>

    <div class="form-group">
      <label for="productImage"
        ><span class="text-danger">*</span>Upload Product Image
      </label>

      <input
        type="file"
        class="form-control"
        id="productImage"
        formControlName="productImage"
        [class.error]="isFieldInvalid('productImage')"
        #ProductImageInput
      />
      <span class="text-danger" *ngIf="isFieldInvalid('productImage')"
        >Product Image is required.</span
      >
    </div>

    <button
      type="submit"
      class="button mt-3"
      id="sign-in-button"
      (click)="onSubmit()"
    >
      Submit
    </button>


  </form>
</div>


<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary d-none"
  data-bs-toggle="modal"
  data-bs-target="#prodExistModal"
  #prdouctExistModalBTN
>
  Launch demo modal
</button>
<!-- Modal -->
<div
  class="modal fade"
  id="prodExistModal"
  tabindex="-1"
  aria-labelledby="userExistModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header fs-5 fw-bold">
        <h1 class="modal-title fs-5" id="userExistModalLabel">
            product Modal
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="fs-5 fw-semibold"
           [class.text-success]="!isError"
           [class.text-danger]="isError">{{ alertMsg }}</p>
    </div>

    </div>
  </div>
</div>

