<!-- approval grid  -->

<div *ngIf="!showProductDiv" class="container approval-grid">
  <div class="bg-white p-2 border border-1 rounded">
    <div class="d-flex justify-content-center">
      <h1 class="companyApproval_header_text">Add Product Table</h1>
    </div>
  </div>
  <div
    class="mt-2 bg-light border border-1 px-3 py-2 rounded my-2 d-flex justify-content-between"
  >
    <div class="headerbtns">
      <button class="custom-btn new-btn active">New</button>
      <button class="custom-btn btn-active">Active</button>
      <button class="custom-btn btn-inactive">Inactive</button>
    </div>

    <div>
      <button class="custom-btn addproduct-btn" (click)="toggleAddProductDiv()">
        {{ showProductDiv ? "Show Approval Grid" : "Add Product" }}
      </button>
    </div>
  </div>
  <div class="scrollable-table border border-1 bg-light">
    <!-- TABLE header -->
    <div class="row headerRow sticky-top fw-bolder">
      <div class="col tableHeader">Index</div>
      <div class="col tableHeader">Company Code</div>
      <div class="col tableHeader">Company Name</div>
      <div class="col tableHeader">Tax Id. Number</div>
      <div class="col tableHeader">Foundation Date</div>
      <div class="col tableHeader">Trade Licence File</div>
      <div class="col tableHeader">Company Image</div>
      <div class="col tableHeader">Prefered Method</div>
      <div class="col tableHeader">Max User</div>
      <div class="col tableHeader">Action</div>
    </div>

    <!-- table body -->

    <section class="row tablebodyRow fw-semibold">
      <div class="col tableBody">#</div>
      <div class="col tableBody"></div>
      <div class="col tableBody"></div>
      <div class="col tableBody"></div>
      <div class="col tableBody"></div>
      <div class="col tableBody">
        <button
          class="custom-btn btn-trade-company"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          view
        </button>
      </div>
      <div class="col tableBody">
        <button
          class="custom-btn btn-trade-company"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          view
        </button>
      </div>
      <div class="col tableBody"></div>
      <div class="col tableBody">
        <input type="number" class="border border-1 p-2 w-75" />
      </div>
      <div class="col tableBody">
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <button class="actionBtn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="green"
                class="bi bi-check2 me-3"
                viewBox="0 0 16 16"
              >
                <path
                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
                />
              </svg>
            </button>
          </div>
          <div>
            <button class="actionBtn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="red"
                class="bi bi-x-lg fw-bolder"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Modal for tadeLicence -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header modal-heading">
              <h1
                class="modal-title text-light fs-5"
                id="staticBackdropLabel"
              ></h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <img alt="no image was uploaded!" />
            </div>
            <!-- <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">Understood</button>
            </div> -->
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- add product -->

<!-- add product form design  -->
<div *ngIf="showProductDiv" class="container containgFields mt-5 mb-5 rounded">
  <div class="d-flex justify-content-between align-items-center">
    <!-- Back Button on the left -->
    <div class="d-flex align-items-center" (click)="showApprovalGrid()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="currentColor"
        class="bi bi-arrow-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
        />
      </svg>
    </div>

    <!-- Title in the middle -->
    <h2 class="register_title">Add Product</h2>

    <!-- Placeholder for right alignment -->
    <div></div>
  </div>

  <hr />
  <form [formGroup]="addProductForm">
    <div class="form-group">
      <label for="productGroupID"
        ><span class="text-danger">*</span>Product Group Name</label
      >
      <select
        id="productGroupID"
        formControlName="productGroupID"
        [class.error]="isFieldInvalid('productGroupID')"
      >
        <option value="" disabled>Select Product Group</option>
        <option
          *ngFor="let group of productGroups"
          [value]="group.productGroupID"
        >
          {{ group.productGroupName }}
        </option>
      </select>
      <span class="text-danger" *ngIf="isFieldInvalid('productGroupID')"
        >Product Group Name is required.</span
      >
    </div>

    <div class="form-group">
      <label for="productName"
        ><span class="text-danger">*</span>Product Name</label
      >
      <input
        type="text"
        id="productName"
        formControlName="productName"
        [class.error]="isFieldInvalid('productName')"
      />
      <span class="text-danger" *ngIf="isFieldInvalid('productName')"
        >Product Name is required.</span
      >
    </div>

    <div class="form-group">
      <label for="productSubName -"> Product SubName </label>
      <input type="text" id="productSubName" formControlName="productSubName" />
    </div>

    <div class="form-group">
      <label for="specification"
        ><span class="text-danger">*</span>Specification
      </label>
      <textarea
        type="text"
        id="specification"
        class="textAreaDesign"
        formControlName="specification"
        [class.error]="isFieldInvalid('specification')"
      ></textarea>

      <span class="text-danger" *ngIf="isFieldInvalid('specification')"
        >Specification is required.</span
      >
    </div>

    <div class="form-group">
      <label for="unitId"><span class="text-danger">*</span>unitId</label>

      <select
        name="unitId"
        id="unitId"
        formControlName="unitId"
        [class.error]="isFieldInvalid('unitId')"
      >
        <option value="" disabled>Select Unit</option>
        <option *ngFor="let unit of units" [value]="unit.unitId">
          {{ unit.name }}
        </option>
      </select>

      <span class="text-danger" *ngIf="isFieldInvalid('unitId')"
        >unitId is required.</span
      >
    </div>

    <div class="form-group">
      <label for="productImage"
        ><span class="text-danger">*</span>Upload Product Image
      </label>

      <input
        type="file"
        class="form-control"
        id="productImage"
        formControlName="productImage"
        [class.error]="isFieldInvalid('productImage')"
        #ProductImageInput
      />
      <span class="text-danger" *ngIf="isFieldInvalid('productImage')"
        >Product Image is required.</span
      >
    </div>

    <button
      type="submit"
      class="button mt-3"
      id="sign-in-button"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </form>
</div>

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary d-none"
  data-bs-toggle="modal"
  data-bs-target="#prodExistModal"
  #prdouctExistModalBTN
>
  Launch demo modal
</button>
<!-- Modal -->
<div
  class="modal fade"
  id="prodExistModal"
  tabindex="-1"
  aria-labelledby="userExistModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header fs-5 fw-bold">
        <h1 class="modal-title fs-5" id="userExistModalLabel">product Modal</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p
          class="fs-5 fw-semibold"
          [class.text-success]="!isError"
          [class.text-danger]="isError"
        >
          {{ alertMsg }}
        </p>
      </div>
    </div>
  </div>
</div>
