<body>
  <app-header [cartCount]="cartCount"></app-header>
  <app-nav-belt></app-nav-belt>

  <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button> -->

  <div
    [ngClass]="{ show: cartDataDetail.size > 0 }"
    class="offcanvas right-sidebar offcanvas-end"
    data-bs-scroll="true"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasScrolling"
    aria-labelledby="offcanvasScrollingLabel"
  >
    <!-- <div class="offcanvas-header">
    <div></div>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> -->

    <div class="offcanvas-body border" *ngIf="cartDataDetail.size > 0">
      <div
        class="border-1 border-secondary w-100 border-bottom d-flex flex-column align-items-center pb-2"
      >
        <h6 class="offcanvas-title text-center" id="offcanvasScrollingLabel">
          Subtotal
        </h6>
        <h5 class="text-center">৳{{ totalPrice }}</h5>
        <button
          class="btn btn-light border border-1 rounded-4 w-100 go-truck"
          routerLink="/cartView"
        >
          Go to Truck
        </button>
      </div>

      <div
        class="border-1 border-secondary border-bottom pb-2"
        *ngFor="let entry of cartDataDetail | keyvalue"
      >
        <div class="d-flex flex-column align-items-center">
          <img
            class="w-100"
            [src]="
              entry.value.imagePath
                ? entry.value.imagePath.substring(
                    entry.value.imagePath.indexOf('assets')
                  )
                : '../../../assets/images/' + entry.value.groupName + '.jpg'
            "
            alt=""
          />
          <p class="fw-bold text-center">
            {{
              entry.value.goodsName.length > 20
                ? (entry.value.goodsName | slice : 0 : 20) + "..."
                : entry.value.goodsName
            }}
          </p>
          <p class="fw-bold">
            <span class="money-icon">৳</span>{{ entry.value.price }}
          </p>
        </div>
        <div class="d-flex justify-content-between align-items-center px-1">
          <span class="fw-bold"
            >Qty:
            {{
              cartDataQt.get(entry.value.groupCode + "&" + entry.value.goodsId)
            }}</span
          >
          <svg
            (click)="deleteFromSideCart(entry)"
            class="delete-icon"
            xmlns="http://www.w3.org/2000/svg"
            fill="gray"
            height="1em"
            viewBox="0 0 448 512"
          >
            <path
              d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for cart-->
  <div
    #exampleModal
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1> -->
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p class="h4">
            ({{ popUpCount }}) new item(s) have been added to your cart
          </p>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <button
            routerLink="/cartView"
            type="button"
            data-bs-dismiss="modal"
            class="btn btn-warning"
          >
            GO TO CART
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- product modal  -->
  <div
    class="modal fade"
    id="productDetailsModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="d-flex flex-column align-items-end p-2">
          <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <!-- <div class="modal-body"> -->
        <div class="d-flex p-3" style="height: 80%; overflow-y: auto">
          <div class="">
            <img
              class="detail-img"
              src="/assets/images/{{ splitProductKey(modalGroup) }}.jpg"
              alt=""
            />
          </div>
          <div class="ps-4">
            <h3 class="title prime-color fw-bold">{{ modalTitle }}</h3>
            <p class="type second-color">Steel</p>
            <h6>
              <span class="fw-bold second-color">Price:</span>
              <span class="prime-color fw-bold"
                ><span class="h3 fw-bold"> ৳</span> 50,000</span
              >
            </h6>
            <p>
              <span class="fw-bold second-color">Available Quantity:</span>
              <span class="prime-color fw-bold"> {{ modalQuantity }} </span>
            </p>
            <div>
              <h5 class="">Dimensions</h5>
              <div class="d-flex justify-content-around">
                <p><span class="fw-bold second-color"> Height:</span> 2 mm</p>
                <p class="ps-1">
                  <span class="fw-bold second-color">Width:</span> 2 mm
                </p>
                <p class="ps-1">
                  <span class="fw-bold second-color">Length:</span> 2 mm
                </p>
              </div>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <p><span class="fw-bold second-color"> Weight:</span> 2 Ton</p>
                <p class="ps-1">
                  <span class="fw-bold second-color">Grade:</span> 2
                </p>
                <p class="ps-1">
                  <span class="fw-bold second-color">Finish:</span> 2
                </p>
              </div>
            </div>
            <div>
              <h5 class="">Specification</h5>
              <p>{{ modalSpec }}</p>
            </div>
          </div>
          <!-- </div> -->
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>

  <div *ngIf="loading" class="text-center">Loading products...</div>
  <div *ngIf="!loading">
    <div class="container justify-content-around">
      <div class="product_sidebar_container">
        <!-- <app-product-sidebar></app-product-sidebar> -->
      </div>

      <div class="products mx-3 mt-3 w-100">
        <nav class="search_bar navbar rounded border border-1 sticky-top">
          <div class="container-fluid">
            <div class="color-primary">
              <h3>{{ activeGroupName }}</h3>
            </div>
            <form class="seachbar" role="search">
              <input
                class="form-control bg-light me-2"
                type="search"
                placeholder="Search by title..."
                aria-label="Search"
                (keyup)="searchProducts($event)"
              />
            </form>
          </div>
        </nav>
        <div class="row w-100 m-0 p-0" *ngIf="!filteredProducts.length">
          <div class="productNotFound col-12 text-center">
            <img
              class="productNotFound rounded mt-3"
              src="/assets/images/productNotFound.jpg"
              alt=""
            />
          </div>
        </div>

        <div class="row w-100 m-0 p-0" *ngIf="filteredProducts.length">
          <div
            [ngClass]="{
              'col-xl-3 col-lg-4 col-md-6 col-sm-6':
                filteredProducts.length > 3,
              'col-lg-6 col-md-6 col-sm-6': filteredProducts.length <= 3
            }"
            *ngFor="let entry of filteredProducts; let i = index"
            [ngClass]="{
              'col-lg-3 col-md-4 col-6': filteredProducts.length > 3,
              'col-lg-4 col-md-6 col-sm-6': filteredProducts.length <= 3
            }"
          >
            <section
              class="product d-flex justify-content-center pb-3 align-items-center border rounded border-1 mt-3 mb-5 w-100"
            >
              <div class="mt-1 mb-1 d-flex flex-column align-items-center px-2  ">
                <div class="d-flex">
                  <div class="activeDiv " (click)="dataClick(entry)">
                    <div>
                      <p class="product-title">
                        {{
                          entry.goodsName.length > 20
                            ? (entry.goodsName | slice : 0 : 20) + "..."
                            : entry.goodsName
                        }}
                      </p>
                    </div>
                    <div>
                      <p class="fw-bold mb-1">
                        Specifications:&nbsp;<span class="text-muted">{{
                          entry.specification.length > 15
                            ? (entry.specification | slice : 0 : 15) + "..."
                            : entry.specification
                        }}</span>
                      </p>
                    </div>
                    <div class="">
                      <p class="quantity clr mb-1">
                       Quantity:
                        <span class="clr">{{ entry.approveSalesQty }}</span>
                      </p>
                    </div>
                  </div>

                  <div
                    class="d-flex flex-column justify-content-between align-items-end"
                  >
                    <div>
                      <div>
                        <button class=" bg-white" (click)="dataClick(entry)">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            fill="currentColor"
                            class="bi bi-info-square"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
                            />
                            <path
                              d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                            />
                          </svg>
                        </button>
                      </div>

                      <div>
                        <button
                          class="bg-white"
                          data-bs-toggle="modal"
                          data-bs-target="#exampleModal"
                          (click)="entry.approveSalesQty !== 0 && setCart(entry,qtyInput.value)"
                          [disabled]="entry.approveSalesQty === 0"

                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            fill="currentColor"
                            class="bi bi-cart-plus bg-white"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"
                            />
                            <path
                              d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                            />
                          </svg>
                        </button>


                      </div>
                    </div>

                    <div class="d-flex align-items-center">
                      <!-- <button class="border rounded-1   minus mx-2" [disabled]="entry.approveSalesQty==='0'">
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                         </svg>
                        </button> -->

                      <!-- <input
                                type="number" [readonly] = "entry.approveSalesQty === '0'"
                                class="txt-qt border"
                                [ngModel]="cartDataQt.get(entry.groupCode+'&'+entry.goodsID)||0"
                                (ngModelChange)="onInputChange(entry, $event)"
                                > -->

                      <input
                         #qtyInput
                        type="number"
                        [readonly]="entry.approveSalesQty === 0"
                        class="txt-qt border "
                        min="1"

                        [max]="getMaxValue(entry.approveSalesQty)"
                        [ngModel]="entry.approveSalesQty === 0 ? 0 : 1"
                        (input)="onInputChange($event, entry)"
                        (blur)="isEmpty($event)"
                      />

                      <!-- <button (click) = "setCart(entry,'c')" class="border rounded-1  plus   mx-2" [disabled]="entry.approveSalesQty==='0' ">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                             </button> -->
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="base-footer">
      <app-footer></app-footer>
    </div>
  </div>
</body>
