body {
  background: white;
}
.products {
  cursor: pointer;
}
#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#footer {
  width: 100%;
}
#content-wrap {
  flex: 1;
}


@media (max-width: 746px) {
  .product_sidebar_container {
    display: none;
  }
}
