<div class="">
  <div
    class="bg-white d-flex justify-content-center p-2 border border-1 rounded"
  >
    <h1 class="companyApproval_header_text">Orders Overview</h1>
  </div>
  <div class="mt-2 bg-light border border-1 px-3 py-2 rounded my-2">
    <div class="headerbtns">
      <button
        class="custom-btn"
        [ngClass]="{ active: btnIndex === -1 }"
        (click)="btnIndex = -1"
        (click)="getData('Pending')"
      >
        Pending
      </button>
      <!-- <button
        class="custom-btn"
        [ngClass]="{ active: btnIndex === 1 }"
        (click)="btnIndex = 1"
        (click)="getData('Approved')"
      >
        Approved
      </button>
      <button
        class="custom-btn"
        [ngClass]="{ active: btnIndex === 0 }"
        (click)="btnIndex = 0"
        (click)="getData('Cancelled')"
      >
        Cancelled
      </button> -->

      <button
        class="custom-btn"
        [ngClass]="{ active: btnIndex === 3 }"
        (click)="btnIndex = 3"
        (click)="getData('Processing')"
      >
        Processing
      </button>
      <button
        class="custom-btn"
        [ngClass]="{ active: btnIndex === 4 }"
        (click)="btnIndex = 4"
        (click)="getData('ReadyToShip')"
      >
        Ready To Ship
      </button>
      <button
        class="custom-btn"
        [ngClass]="{ active: btnIndex === 5 }"
        (click)="btnIndex = 5"
        (click)="getData('ToDeliver')"
      >
        To Deliver
      </button>
      <button
        class="custom-btn"
        [ngClass]="{ active: btnIndex === 6 }"
        (click)="btnIndex = 6"
        (click)="getData('Delivered')"
      >
        Delivered
      </button>
      <button
        class="custom-btn"
        [ngClass]="{ active: btnIndex === 7 }"
        (click)="btnIndex = 7"
        (click)="getData('Reviewed')"
      >
        Reviewed
      </button>
      <button
        class="custom-btn"
        [ngClass]="{ active: btnIndex === 8 }"
        (click)="btnIndex = 8"
        (click)="getData('ToReturn')"
      >
        To Return
      </button>
      <button
        class="custom-btn"
        [ngClass]="{ active: btnIndex === 9 }"
        (click)="btnIndex = 9"
        (click)="getData('Returned')"
      >
        Returned
      </button>
      <button
        class="custom-btn"
        [ngClass]="{ active: btnIndex === 2 }"
        (click)="btnIndex = 2"
        (click)="getData('Rejected')"
      >
        Rejected
      </button>
    </div>
  </div>
  <div class="scrollable-table border border-1 bg-light">
    <!-- TABLE header -->
    <div class="row headerRow sticky-top fw-bolder">
      <div class="col tableHeader">Index</div>
      <div class="col tableHeader">Order No</div>
      <div class="col tableHeader">Buyer Name</div>
      <div class="col tableHeader">Order Date</div>
      <div class="col tableHeader">Address</div>
      <div class="col tableHeader">Status</div>
      <!-- <div class="col tableHeader">Action</div> -->
      <!-- <div class="col tableHeader">Action</div> -->
    </div>

    <!-- table body -->

    <section
      class="row tablebodyRow fw-semibold"
      *ngFor="let row of productsData; let i = index"
    >
      <div class="col tableBody">#{{ i + 1 }}</div>
      <div class="col tableBody">
        {{ row.orderNo }}
      </div>
      <div class="col tableBody">
        {{ row.buyerName }}
      </div>

      <div class="col tableBody">
        {{ row.orderDate | date : "dd MMM yyyy" }},<br />
        {{ row.orderDate | date : "hh:mm a" }}
      </div>

      <div class="col tableBody">
        {{ row.address }}
      </div>
      <div class="col tableBody">
        {{ row.sellerStatus }}
      </div>
      <div class="col tableBody">
        {{ row.sellerStatus }}
      </div>




    </section>
  </div>
</div>
