<!-- <app-header></app-header> -->
<!-- <app-nav-belt></app-nav-belt> -->
<!-- <app-become-aseller-page></app-become-aseller-page> -->

<!-- <app-banner></app-banner> -->
<!-- <app-contact-supplier></app-contact-supplier> -->

<!-- <app-home></app-home> -->
<!-- <nav>
  <a routerLink="/headerComponent">Home</a>
  <a routerLink="/becomeASeller">Become a seller</a>
</nav> -->

<!-- ================ core ========== -->
<router-outlet></router-outlet>

<!-- ================ TEst ========== -->
<!-- <app-contact-supplier></app-contact-supplier> -->
<!-- <div class="m-5">
  <app-max-quantity-products-slider></app-max-quantity-products-slider>
<app-test-slider></app-test-slider>
</div> -->

<!-- <app-add-product></app-add-product> -->
<!-- <app-dashboard></app-dashboard> -->
