<!-- approval grid  -->
<div *ngIf="!showProductDiv" class="container approval-grid">
  <div class="bg-white p-2 border border-1 rounded">
    <div class="d-flex justify-content-center">
      <h1 class="companyApproval_header_text">Add Product Group Table</h1>
    </div>
  </div>
  <div
    class="mt-2 bg-light border border-1 px-3 py-2 rounded my-2 d-flex justify-content-between"
  >
    <div class="headerbtns">
      <button
        class="custom-btn new-btn active"
        (click)="getProductGroup(-1)"
        [ngClass]="{ active: btnIndex === -1 }"
        (click)="btnIndex = -1"
      >
        New
      </button>
      <button
        class="custom-btn btn-active"
        (click)="getProductGroup(1)"
        [ngClass]="{ active: btnIndex === 1 }"
        (click)="btnIndex = 1"
      >
        Active
      </button>
      <button
        class="custom-btn btn-inactive"
        (click)="getProductGroup(0)"
        [ngClass]="{ active: btnIndex === 0 }"
        (click)="btnIndex = 0"
      >
        Inactive
      </button>
    </div>

    <div>
      <button
        class="custom-btn addproduct-btn"
        (click)="toggleAddProductGroupDiv()"
      >
        {{ showProductDiv ? "Show Approval Grid" : "Add Group" }}
      </button>
    </div>
  </div>
  <div class="scrollable-table border border-1 bg-light">
    <!-- TABLE header -->
    <div class="row headerRow sticky-top fw-bolder">
      <div class="col tableHeader">Index</div>
      <div class="col tableHeader">Product Group ID</div>
      <div class="col tableHeader">Product Group Code</div>
      <div class="col tableHeader">Product Group Name</div>
      <div class="col tableHeader">Image</div>
      <div class="col tableHeader">Product Group Prefix</div>
      <div class="col tableHeader">Product Group Details</div>
      <div class="col tableHeader">Date Added</div>
    </div>

    <!-- table body -->

    <section
      class="row tablebodyRow fw-semibold"
      *ngFor="let group of groupList; let i = index"
    >
      <div class="col tableBody">#{{ i + 1 }}</div>
      <div class="col tableBody">{{ group.productGroupID }}</div>
      <div class="col tableBody">{{ group.productGroupCode }}</div>
      <div class="col tableBody">{{ group.productGroupName }}</div>
      <div class="col tableBody">
        <img
          class="product_image"
          [src]="group.imagepath ? group.imagepath.split('FrontEnd')[1] : ''"
          alt="no image was uploaded!"
        />     
      </div>
      <div class="col tableBody">{{ group.productGroupPrefix }}</div>
      <div class="col tableBody">{{ group.productGroupDetails }}</div>
      <div class="col tableBody">
        {{ group.dateAdded | date : "dd MMM yyyy" }}
      </div>

      <!-- <div class="col tableBody">
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <button class="actionBtn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="green"
                class="bi bi-check2 me-3"
                viewBox="0 0 16 16"
                *ngIf="btnIndex === 0"
              >
                <path
                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
                />
              </svg>
            </button>
          </div>
          <div>
            <button class="actionBtn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="red"
                class="bi bi-x-lg fw-bolder"
                viewBox="0 0 16 16"
                *ngIf="btnIndex === 1"
              >
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div> -->
    </section>
  </div>
</div>

<!-- add group form design  -->
<div *ngIf="showProductDiv" class="container containgFields mt-5 mb-5 rounded">
  <!-- <h2 class="register_title">Add Product Groups Name</h2> -->
  <div class="d-flex justify-content-between align-items-center">
    <!-- Back Button on the left -->
    <div class="d-flex align-items-center" (click)="showApprovalProductGrid()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="currentColor"
        class="bi bi-arrow-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
        />
      </svg>
    </div>

    <!-- Title in the middle -->
    <h2 class="register_title">Add Product Groups Name</h2>

    <!-- Placeholder for right alignment -->
    <div></div>
  </div>
  <hr />
  <form [formGroup]="addGroupForm">
    <div class="form-group">
      <label for="productGroupName"
        ><span class="text-danger">*</span>Product Group Name</label
      >
      <input
        type="text"
        id="productGroupName"
        formControlName="productGroupName"
        [class.error]="isFieldInvalid('productGroupName')"
      />
      <span class="text-danger" *ngIf="isFieldInvalid('productGroupName')"
        >Product Group Name is required.</span
      >
    </div>
    <div class="form-group">
      <label for="productGroupImage"
        ><span class="text-danger">*</span>Upload Product Group Image
      </label>

      <input
        type="file"
        class="form-control"
        id="productGroupImage"
        formControlName="productGroupImage"
        [class.error]="isFieldInvalid('productGroupImage')"
        #productGroupImageInput
      />
      <span class="text-danger" *ngIf="isFieldInvalid('productGroupImage')"
        >Product Image is required.</span
      >
    </div>
    <div class="form-group">
      <label for="productGroupPrefix"
        ><span class="text-danger">*</span>Product Group Prefix</label
      >
      <input
        type="text"
        id="productGroupPrefix"
        formControlName="productGroupPrefix"
        [class.error]="isFieldInvalid('productGroupPrefix')"
      />
      <span class="text-danger" *ngIf="isFieldInvalid('productGroupPrefix')"
        >Product Group Prefix is required.</span
      >
    </div>

    <div class="form-group">
      <label for="productGroupDetails">Product Group Detail</label>
      <textarea
        type="text"
        id="productGroupDetails"
        class="textAreaDesign"
        formControlName="productGroupDetails"
      ></textarea>
    </div>
    <!-- Button trigger modal -->
    <button
      type="submit"
      class="button mt-3"
      id="sign-in-button"
      (click)="onSubmit()"
    >
      Submit
    </button>

    <button
      type="button"
      class="btn btn-primary d-none"
      data-bs-toggle="modal"
      data-bs-target="#productGroupModal"
      #userExistModalBTN
    >
      Launch demo modal
    </button>
    <!-- Modal -->
    <div
      class="modal fade"
      id="productGroupModal"
      tabindex="-1"
      aria-labelledby="productGroupModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header modal-heading">
            <h1 class="modal-title fs-5 text-light" id="productGroupModalLabel">
              Add Product Groups Name
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>{{ alertMsg }}</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
