<div class="container containgFields mt-5 mb-5 rounded">
  <h2 class="register_title">Add Product Groups Name</h2>
  <hr />
  <form [formGroup]="addGroupForm">
    <div class="form-group">
      <label for="productGroupName"
        ><span class="text-danger">*</span>Product Group Name</label
      >
      <input
        type="text"
        id="productGroupName"
        formControlName="productGroupName"
        [class.error]="isFieldInvalid('productGroupName')"
      />
      <span class="text-danger" *ngIf="isFieldInvalid('productGroupName')"
        >Product Group Name is required.</span
      >
    </div>

    <div class="form-group">
      <label for="productGroupPrefix"
        ><span class="text-danger">*</span>Product Group Prefix</label
      >
      <input
        type="text"
        id="productGroupPrefix"
        formControlName="productGroupPrefix"
        [class.error]="isFieldInvalid('productGroupPrefix')"
      />
      <span class="text-danger" *ngIf="isFieldInvalid('productGroupPrefix')"
        >Product Group Prefix is required.</span
      >
    </div>

    <div class="form-group">
      <label for="productGroupDetails">Product Group Detail</label>
      <textarea
        type="text"
        id="productGroupDetails"
        class="textAreaDesign"
        formControlName="productGroupDetails"
      ></textarea>
    </div>

    <button
      type="submit"
      class="button mt-3"
      id="sign-in-button"
      data-bs-toggle="modal"
      data-bs-target="#productGroupModal"
      (click)="onSubmit()"
    >
      Submit
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="productGroupModal"
      tabindex="-1"
      aria-labelledby="productGroupModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header modal-heading">
            <h1 class="modal-title fs-5 text-light" id="productGroupModalLabel">
              Add Product Groups Name
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p class="fs-5">
              Successfully added
              <span class="fw-bold fs-5">this Product Group </span>
            </p>
            <p class="text-danger fs-5">
              Faild to added
              <span class="fw-bold fs-5">this product Group</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
