<!-- <div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
  data-interval="1000"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/banner/sale.jpg" class="d-block w-100" alt="" />
    </div>
    <div class="carousel-item">
      <img src="assets/images/banner/black.jpg" class="d-block w-100" alt="" />
    </div>
    <div class="carousel-item">
      <img
        src="assets/images/banner/BLack-Friday-4.jpg"
        class="d-block w-100"
        alt=""
      />
    </div>
    <div class="carousel-item">
      <img
        src="assets/images/banner/summersale.jpg"
        class="d-block w-100"
        alt=""
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon me-5" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon ms-5" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->

<!-- with btn -->

<section class="banner_container">
  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <!-- ------------ carousel indicators ------------ -->
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="4"
        aria-label="Slide 5"
      ></button>
    </div>
    <!-- ----------------inner carousel -------------- -->
    <div class="carousel-inner for_img">
      <!-- ---- carousel item 1 ----------- -->
      <div class="carousel-item active" data-bs-interval="5000">
        <img
          src="assets/images/banner/Bone & Bone Marrow Biopsy1.png"
          class="d-block img-fluid"
          alt="..."
        />
      </div>
      <!-- ---- carousel item 2 ------------- -->
      <div class="carousel-item" data-bs-interval="3000">
        <img
          src="assets/images/banner/Mammography3.png"
          class="d-block img-fluid"
          alt="..."
        />
      </div>
      <!-- ---- carousel item 3 -------------- -->
      <div class="carousel-item" data-bs-interval="3000">
        <img
          src="assets/images/banner/Drainage Catheter.png"
          class="d-block img-fluid"
          alt="..."
        />
      </div>
      <!-- ---- carousel item 4 ---------------- -->
      <div class="carousel-item" data-bs-interval="3000">
        <img
          src="assets/images/banner/Expander.png"
          class="d-block img-fluid"
          alt="..."
        />
      </div>
      <!-- ---- carousel item 5 ---------------- -->
      <div class="carousel-item" data-bs-interval="3000">
        <img
          src="assets/images/banner/Huber Needle.png"
          class="d-block img-fluid"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev carousel-button"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next carousel-button"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
