<div
  class="approval_container-row row py-2 m-0 bg-white"
  [id]="'row' + product.productId"
>
  <div class="col-1 product_col checkbox_col">
    <div class="form-check">
      <input
        class="form-check-input singleCheckbox"
        type="checkbox"
        value=""
        [id]="product.productId"
        (change)="checkboxChangeHandler($event)"
      />
    </div>
  </div>
  <div class="col-1 product_col image_col">
    <img
      [src]="product.imagePath.substring(product.imagePath.indexOf('assets'))"
      alt="Product Image"
    />
  </div>

  <div class="col-1 product_col text-col">
    <span class="text-truncate mx-1"> {{ product.productName }}</span>
  </div>
  <div class="col-1 product_col text-col">
    <span class="text-truncate mx-1"> {{ product.companyName }} </span>
  </div>
  <div class="col-1 product_col text-col">
    <span>{{ product.addedDate.split("T")[0] }}</span>
  </div>

  <div class="col-1 product_col text-col">
    <span
      class="text-success fs-5 mx-2"
      data-bs-target="#singleApprovalModal"
      data-bs-toggle="modal"
      (click)="approvalModalStatus('approve', product.productId)"
      *ngIf="status === 'new' || status === 'edited' || status === 'rejected'"
    >
      <!--       (click)="changeSingleStatus('approved', product.productId)" -->
      <i class="fa-solid fa-check"></i>
    </span>
    <span
      class="text-danger fs-5 mx-2"
      data-bs-target="#singleApprovalModal"
      data-bs-toggle="modal"
      (click)="approvalModalStatus('reject', product.productId)"
      *ngIf="status === 'new' || status === 'edited'"
    >
      <!-- (click)="changeSingleStatus('rejected', product.productId)" -->
      <i class="fa-solid fa-xmark"></i>
    </span>
    <span
      class="text-primary fs-5 mx-2"
      (click)="selectProductID(product.productId)"
    >
      <i class="bi bi-info-circle"></i>
    </span>
    <span
      *ngIf="status === 'edited'"
      class="btn btn-warning text-white"
      (click)="comapreProductData(product.productId)"
    >
      Compare</span
    >
  </div>
</div>
<!-- approval modal -->
<div
  class="modal fade"
  id="singleApprovalModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="approvalModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div
      class="modal-content border border-1"
      [class.border-success]="modalStatus === 'approve'"
      [class.border-danger]="modalStatus === 'reject'"
    >
      <div class="modal-header">
        <h1
          class="modal-title fs-5"
          [class.text-success]="modalStatus === 'approve'"
          [class.text-danger]="modalStatus === 'reject'"
          id="approvalModalLabel"
        >
          <span class="fw-bold">{{ modalTitle }} Product </span>
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body fw-bold text-muted">
        Are you sure want to
        <span
          [class.text-success]="modalStatus === 'approve'"
          [class.text-danger]="modalStatus === 'reject'"
        >
          {{ modalStatus }}</span
        >
        this product?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal"
          id="childApprovalCloseButton"
          (click)="closeApproval()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="submitApprovalModal(modalStatus)"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- comapre edit modal -->
<!-- Button trigger modal -->
<button
  #compareEditBTN
  type="button"
  class="btn btn-primary d-none"
  data-bs-toggle="modal"
  data-bs-target="#compareEditModal"
>
  Launch static backdrop modal
</button>
<div
  *ngIf="gotData == true"
  class="modal fade"
  id="compareEditModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="compareEditModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
  >
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h1 class="modal-title fs-5" id="compareEditModalLabel">
          Product Changes
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex justify-content-around">
        <div
          class="before-edit-details bg-light border border-1 mx-1 py-1 px-2 h-100"
        >
          <h5 class="mb-2 fst-italic text-secondary border-bottom text-center">
            Before Edit
          </h5>

          <p><strong>Product Name:</strong> {{ oldData.productName }}</p>
          <p>
            <strong>Product Description:</strong>
            {{ oldData.productDescription }}
          </p>
          <p>
            <strong>Product Material Type:</strong>
            {{ oldData.materialType }}
          </p>
          <p>
            <strong>Product Price:</strong>
            {{ oldData.price }}
          </p>
          <p>
            <strong>Product Finish:</strong>
            {{ oldData.finish }}
          </p>
          <p>
            <strong>Product Grade:</strong>
            {{ oldData.grade }}
          </p>
          <p>
            <strong>Product Height:</strong>
            {{ oldData.height }}
          </p>
          <p>
            <strong>Product Width:</strong>
            {{ oldData.width }}
          </p>
          <p>
            <strong>Product Length:</strong>
            {{ oldData.length }}
          </p>
          <p>
            <strong>Product Dimension Unit:</strong>
            {{ oldData.dimensionUnit }}
          </p>
          <p>
            <strong>Product Weight:</strong>
            {{ oldData.length }}
          </p>
          <p>
            <strong>Product Weight Unit:</strong>
            {{ oldData.weightUnit }}
          </p>
          <p>
            <strong>Product Quantity:</strong>
            {{ oldData.quantity }}
          </p>
          <p>
            <strong>Product Quantity Unit:</strong>
            {{ oldData.quantityUnit }}
          </p>
        </div>

        <div
          class="after-edit-details bg-light border border-1 mx-1 py-1 px-2 h-100"
        >
          <h5 class="mb-2 fst-italic text-secondary border-bottom text-center">
            After Edit
          </h5>

          <p><strong>Product Name:</strong> {{ newData.productName }}</p>
          <p>
            <strong>Product Description:</strong>
            {{ newData.productDescription }}
          </p>
          <p>
            <strong>Product Material Type:</strong>
            {{ newData.materialType }}
          </p>
          <p>
            <strong>Product Price:</strong>
            {{ newData.price }}
          </p>
          <p>
            <strong>Product Finish:</strong>
            {{ newData.finish }}
          </p>
          <p>
            <strong>Product Grade:</strong>
            {{ newData.grade }}
          </p>
          <p>
            <strong>Product Height:</strong>
            {{ newData.height }}
          </p>
          <p>
            <strong>Product Width:</strong>
            {{ newData.width }}
          </p>
          <p>
            <strong>Product Length:</strong>
            {{ newData.length }}
          </p>
          <p>
            <strong>Product Dimension Unit:</strong>
            {{ newData.dimensionUnit }}
          </p>
          <p>
            <strong>Product Weight:</strong>
            {{ newData.length }}
          </p>
          <p>
            <strong>Product Weight Unit:</strong>
            {{ newData.weightUnit }}
          </p>
          <p>
            <strong>Product Quantity:</strong>
            {{ newData.quantity }}
          </p>
          <p>
            <strong>Product Quantity Unit:</strong>
            {{ newData.quantityUnit }}
          </p>
        </div>
      </div>
      <div class="modal-footer bg-light">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Understood
        </button> -->
      </div>
    </div>
  </div>
</div>
