<!-- <p>auto-focus-otp-field works!</p>
<div class="d-flex justify-content-center align-items-center">
  <div>
    <h1 class="text-center">Verify Your Account</h1>
    <div class="otp_container d-flex justify-content-evenly">
      <input class="otp" type="number" placeholder="0" min="0" max="9" />
      <input class="otp" type="number" placeholder="0" min="0" max="9" />
      <input class="otp" type="number" placeholder="0" min="0" max="9" />
      <input class="otp" type="number" placeholder="0" min="0" max="9" />
      <input class="otp" type="number" placeholder="0" min="0" max="9" />
      <input class="otp" type="number" placeholder="0" min="0" max="9" />
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-success">Verify</button>
    </div>
    <div>
      <p>
        If you did not receice a code!!
        <span class="text-primary fw-bold">RESEND</span>
      </p>
    </div>
  </div>
</div>  -->
