<div class="container">
  <div
    class="bg-white d-flex justify-content-center p-2 border border-1 rounded"
  >
    <h1 class="companyApproval_header_text" *ngIf="this.whoUser==='seller'">Seller List</h1>
    <h1 class="companyApproval_header_text" *ngIf="this.whoUser==='admin'">User List</h1>

  </div>
  <div class="mt-2 bg-light border border-1 px-3 py-2 rounded my-2" *ngIf="this.whoUser==='seller'">
    <div class="headerbtns">
      <!-- <button
        class="custom-btn new-btn active"
        [ngClass]="{ active: btnIndex === -1 }"
        (click)="btnIndex = -1"
        (click)="getData()"
      >
        New
      </button> -->
      <button
        class="custom-btn btn-active active"
        [ngClass]="{ active: btnIndex === 1 }"
        (click)="btnIndex = 1"
        (click)="getData()"
      >
        Active
      </button>
      <button
        class="custom-btn btn-inactive"
        [ngClass]="{ active: btnIndex === 0 }"
        (click)="btnIndex = 0"
        (click)="getData()"
      >
        Inactive
      </button>
    </div>
    
  </div>

  <div class="mt-2 bg-light border d-flex justify-content-between border-1 px-3 py-2 rounded my-2" *ngIf="this.whoUser==='admin'">
    <div class="headerbtns">
      <!-- <button
        class="custom-btn new-btn active"
        [ngClass]="{ active: btnIndex === -1 }"
        (click)="btnIndex = -1"
        (click)="getData()"
      >
        New
      </button> -->
      <button
        class="custom-btn btn-active active"
        [ngClass]="{ active: btnIndex === 1 }"
        (click)="btnIndex = 1"
        (click)="getUser()"
      >
        Active
      </button>
      <button
        class="custom-btn btn-inactive"
        [ngClass]="{ active: btnIndex === 0}"
        (click)="btnIndex = 0"
        (click)="getUser()"
      >
        Inactive
      </button>
   



      
      
     
    </div>










    <div [ngStyle]="{'display': userBtnIndex === 1 ? 'none' : 'block'}">
      <!-- <p *ngFor="let sl of dropdownValues; let i = index;"> paragraph{{sl}}</p> -->

      <!-- <label for="allcategory " class="font-weight-bold">Select Company Name:</label> -->
      <select 
        class="p-2 border border-1 rounded " 
        id="allcategory" 
        name="Category" 
        (change)="onCategoryChange($event)" 
        style="box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);"
      >
        <option (click)="getUser()"  >All Company</option>
        <option *ngFor="let sl of dropdownValues; let i = index;"    [value]="sl.companyCode">{{sl.companyName}}</option>
        
        <!-- Add more options as needed -->
      </select>
    </div>
    
    
    
    
      <div class="headerbtns">
        <!-- <button
          class="custom-btn new-btn active"
          [ngClass]="{ active: btnIndex === -1 }"
          (click)="btnIndex = -1"
          (click)="getData()"
        >
          New
        </button> -->
         <button
      class="custom-btn btn-active active"
      [ngClass]="{ active: userBtnIndex === 1 }"
      (click)="userBtnIndex = 1"
      (click)="getBuyerIn()"
    >
      Buyer
    </button>
       
        <button
          class="custom-btn btn-active"
          [ngClass]="{ active: userBtnIndex === 0 }"
          (click)="userBtnIndex = 0"
          (click)="getSellerIn()"
        >
          Seller
        </button>

    </div>











    
    
  </div>



  

















  <div class="scrollable-table border border-1 bg-light">
    <!-- TABLE header -->

    <div class="row headerRow sticky-top fw-bolder">
    
      <div class="col tableHeader">
        <input
          type="checkbox"
          [(ngModel)]="selectAll"
          (ngModelChange)="toggleAllCheckboxes()"
          #allselected
        />
        Select All
      </div>
      <div class="col tableHeader">#</div>
      <div class="col tableHeader">Full Name</div>
      <div class="col tableHeader">Phone</div>
      <div class="col tableHeader">Email</div>
      <div class="col tableHeader">Address</div>
      <div class="col tableHeader">Added Date</div>
      <div class="col tableHeader" [ngStyle]="{'display': userBtnIndex === 1 ? 'none' : 'block'}">Company</div>
      <div class="col tableHeader" [ngStyle]="{'display': userBtnIndex === 1 ? 'none' : 'block'}">Role</div>

      <div class="col tableHeader">Action </div>

     
    </div>

    <!-- table body -->
    <div *ngIf="userBtnIndex==0&&whoUser==='admin'">

      <h1 *ngIf="responseLength==0" class="text-center " style="color: red;margin-top: 15%"> Seller Not Found</h1>
    </div>
    <div *ngIf="btnIndex==1&&whoUser==='seller'">

      <h1 *ngIf="responseLength==0" class="text-center " style="color: red;margin-top: 15%"> Seller Not Found</h1>
    </div>

    <div *ngIf="btnIndex==0&&whoUser==='seller'">

      <h1 *ngIf="responseLength==0" class="text-center " style="color: red;margin-top: 15%">Seller Not Found</h1>
    </div>

    
    <div *ngIf="userBtnIndex==1">

      <h1 *ngIf="buyerResponse==0" class="text-center " style="color: red;margin-top: 15%"> Buyer Not Found</h1>
    </div>
    <section
      class="row tablebodyRow fw-semibold"
      *ngFor="let sl of sellerList; let i = index; "   (mouseover)="isHovered = i;"
      (mouseout)="isHovered = null"
    >
    <div class="d-flex"  >
     
      <div
      class="col tableBody"
      [ngClass]="{
        'active-row': isHovered === i
      }"
    >
    <input
    type="checkbox"
    [(ngModel)]="sl.isSelected"
    (change)="checkboxSelected(sl.userId, $event)"
  />
  
    </div>
    
      <!-- <div>{{UserId}}</div> -->
<!-- <div>{{cmp.companyAdminId}}</div> -->
      <div class="col tableBody" [ngClass]="{ 'active-row':isHovered===i }" >#{{i+1 }}</div>
      <div class="col tableBody" [ngClass]="{ 'active-row':isHovered===i }" >{{ sl.fullName }}</div>
      <div class="col tableBody" [ngClass]="{ 'active-row':isHovered===i }" >
        {{ sl.phoneNumber }}
      </div>
      <div class="col tableBody" [ngClass]="{ 'active-row':isHovered===i }" >
        {{ sl.email.split("@")[0] }}

        @{{ sl.email.split("@")[1] }}
      </div>
      <div class="col tableBody text-break" [ngClass]="{ 'active-row':isHovered===i }" >
        {{ sl.address }}
      </div>
      <div class="col tableBody" [ngClass]="{ 'active-row':isHovered===i }" >
        {{ sl.addedDate | date : "dd MMM yyyy" }}
      </div>
      <div class="col tableBody text-break" [ngClass]="{ 'active-row':isHovered===i }" [ngStyle]="{'display': userBtnIndex === 1 ? 'none' : 'block'}">
        {{ sl.companyName }}
      </div>

      <div class="col tableBody text-break" [ngClass]="{ 'active-row':isHovered===i }"   *ngIf="sl.userId===sl.companyAdminId else elseBlock"       [ngStyle]="{'display': userBtnIndex === 1 ? 'none' : 'block'}">
        Manager
      </div>
      <ng-template #elseBlock>
        <!-- Content to be displayed when the condition is not met -->
        <div class="col tableBody text-break" [ngClass]="{ 'active-row':isHovered===i }"  [ngStyle]="{'display': userBtnIndex === 1 ? 'none' : 'block'}">
         Seller
        </div>
      </ng-template>
   
      <div class="col tableBody" [ngClass]="{ 'active-row':isHovered===i }" >
        <div class="d-flex justify-content-center align-items-center">
          <div >
            <button *ngIf = "btnIndex === 0" class="actionBtn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="green"
                class="bi bi-check2 me-3"
                viewBox="0 0 16 16"
                (click)="
                       UpdatedSellerBuyer(sl.userId, true)
                "
              >
                <path
                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
                />
              </svg>
            </button>
          </div>
          <div>
            <button
              class="actionBtn"
              *ngIf="btnIndex === 1"
              (click)="
                     UpdatedSellerBuyer(sl.userId, false)
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="red"
                class="bi bi-x-lg fw-bolder"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Modal for tadeLicence -->
      <div
        class="modal fade"
        id="showImgModal"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="showImgModalLabel"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-xl d-flex align-items-center justify-content-center"
        >
          <div class="modal-content">
            <div class="modal-header modal-heading">
              <h1 class="modal-title text-light fs-5" id="showImgModalLabel">
                {{ imageTitle }}
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body text-center">
              <img
                class="company_images"
                [src]="imagePath"
                alt="no image was uploaded!"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
  </div>
  <div class="d-flex justify-content-end">
    <button *ngIf="btnIndex === 0 || btnIndex === -1" class="custom-btn " (click)="chageActiveInactive(true)">
      Active
    </button>
    <button *ngIf="btnIndex === 1 || btnIndex === -1" class="custom-btn" (click)="chageActiveInactive(false)">
      Inactive
    </button>
  </div>
</div>

<button
  type="button"
  class="btn btn-primary d-none"
  data-bs-toggle="modal"
  data-bs-target="#msgModal"
  #msgModalBTN
>
  Launch demo modal
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="msgModal"
  tabindex="-1"
  aria-labelledby="msgModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header fs-5 fw-bold text-success">
        <h1 class="modal-title fs-5" id="msgModalLabel">
          {{ alertTitle }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {{ alertMsg }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
