<section class="home-product-card_container bg-white">
  <div class="card">
    <div class="card_image text-center mt-2">
      <img
        src="/assets/images/new hr plate.jpg"
        class="card-img-top border border-1 rounded"
        alt="..."
      />
    </div>
    <div class="card-body">
      <h6 class="card-title">HR Plate</h6>
      <p class="card-text">Some quick example text to...</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
    <!-- <span>{{ product }}</span> -->
  </div>
</section>
