<!-- <div class="delimeter"> -->
<div class="navbelt_container d-flex flex-column align-items-center">
  <div class="d-flex justify-content-around nav-parent" #navItems>
    <div
      *ngFor="let entry of products | keyvalue"
      class="nav_item d-flex flex-column  mt-2   p-1"
      (click)="setSelectData(entry.key, entry.value)"
      [class.active]="entry.key === activeEntry"
    >
      <div class="navbelt_image mb-2">
        <img src="/assets/images/medical/{{ entry.key }}.jpg" alt="" />
      </div>
      <div class="navbelt_title fw-bold">
        {{ entry.key }}
      </div>
    </div>
  </div>
</div>
<button type="button" class="slider-btn" (click)="next()">
  <i class="fa-solid fa-chevron-right"></i>
</button>
<button type="button" class="slider-btn" (click)="prev()">
  <i class="fa-solid fa-chevron-left"></i>
</button>
