.delimeter {
  border-bottom: 1px solid rgb(191, 191, 191);
}
.nav-parent {
  /* width: 64%; */
  overflow: hidden;
}
.individual-nav {
}
.navbelt_container {
  height: 10rem;
  background: #eceff2a4;
}
.navbelt_items {
  font-size: 1rem;
  width: 85%;
  display: flex;
  justify-content: center;
}
.navbelt-item {
  padding: 3px;
  cursor: pointer;
}
.navbelt_image img {
  width: 8rem;
  height: 5rem;
}
.menu-display {
  display: none;
}
/* .navbelt-item:hover .menu-display {
  display: block;
} */
.navbelt_title {
  font-weight: 500;
  font-size: 0.95rem;
  opacity: 0.95;
  color: #181414;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);

}
.slider-btn {
  display: block;
  top: 6.3rem;
  position: absolute;
  font-size: 1.7rem;
  background: rgb(242, 247, 249);
  color: var(--color-primary);
  border: 1px solid rgb(213, 229, 231);
  padding: 2px 15px;
  margin: 1rem;
  transition: 0.4s;
  opacity: 0.8;
  display: flex;
}
.nav_item {
  cursor: pointer;
  width: 20rem;
  text-align: center;
}
.nav_item.active .navbelt_title,
.nav_item:hover .navbelt_title {
  /* border: 5px solid blue;*/
  /* background: red; */
  color: var(--color-primary);
}
.nav_item.active .navbelt_image img {
  transform: scale(1.2);
  margin: 5px;
}
/* .prevBtnmargin {
  margin-left: 12.5rem;
} */

/* slider button  */

/* .slider-btn:first-of-type {
  left: 10%;
}
.slider-btn:nth-child(2) {
  right: 10%;
} */

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

/* .button-container.w-25 .slider-btn:first-of-type,
.button-container.w-50 .slider-btn:first-of-type,
.button-container.w-75 .slider-btn:first-of-type {
  left: 23%;
}

.button-container.w-25 .slider-btn:nth-child(2),
.button-container.w-50 .slider-btn:nth-child(2),
.button-container.w-75 .slider-btn:nth-child(2) {
  right: 23%;
} */


    /* for w-75 */
    .button-container.w-75 .slider-btn:first-of-type
    {
     left: 11%;
   }

   .button-container.w-75 .slider-btn:nth-child(2)
   {
     right: 11%;
   }


/* for w-50 */
.button-container.w-50 .slider-btn:first-of-type
 {
  left: 23%;
}

.button-container.w-50 .slider-btn:nth-child(2)
{
  right: 23%;
}

/*  for w-25*/
.button-container.w-25 .slider-btn:first-of-type
 {
  left: 35%;
}

.button-container.w-25 .slider-btn:nth-child(2)
{
  right: 35%;
}


.slider-btn:hover {
  color: white;
  background: var(--color-primary);
}
/* Your existing media queries and other CSS */
/*  */

@media (max-width: 1500px) {
  /* w-75 */
  .button-container.w-75 .slider-btn:first-of-type
  {
   left: 10%;
 }

 .button-container.w-75 .slider-btn:nth-child(2)
 {
   right: 10%;
 }
}



@media (max-width: 1400px) {
  .navbelt_items {
    position: absolute;
    width: 100%;
  }
  .navbelt_image img {
    height: 4rem;
  }
  .slider-btn {
    top: 9.7rem;
  }

  /* w-75 */
  .button-container.w-75 .slider-btn:first-of-type
  {
   left: 9.1%;
 }

 .button-container.w-75 .slider-btn:nth-child(2)
 {
   right: 9.1%;
 }
  /* for w-50 */
  .button-container.w-50 .slider-btn:first-of-type
  {
   left: 22%;
 }

 .button-container.w-50 .slider-btn:nth-child(2)
 {
   right: 22%;
 }

}

@media (max-wdth: 1024px) {
  .button-container.w-75 .slider-btn:first-of-type
  {
   left: 9%;
 }

 .button-container.w-75 .slider-btn:nth-child(2)
 {
   right: 9%;
 }

 .slider-btn {
  top: 12.7rem !important;
}

}


@media (max-width: 992px) {
  .navbelt_container {
    position: relative;

    overflow: hidden;
    display: block;
  }
  .navbelt-item {
    width: 130px;
    display: inline-block;
    position: relative;
  }
  .slider-btn {
    display: flex;
  }
  .slider-btn {
    position: absolute;
    font-size: 1.7rem;
    background: rgb(242, 247, 249);
    color: var(--color-primary);
    border: 1px solid rgb(213, 229, 231);
    padding: 2px 6px;
    margin: 1rem;
    transition: 0.4s;
    opacity: 0.8;
    top: 6.4rem;
  }

  .btn-size{
    font-size: smaller;
  }

  /* for w-50 */
  .button-container.w-75 .slider-btn:first-of-type
  {
   left: 10%;
 }

 .button-container.w-75 .slider-btn:nth-child(2)
 {
   right: 10%;
 }


  /* for w-50 */
  .button-container.w-50 .slider-btn:first-of-type
  {
   left: 21%;
 }

 .button-container.w-50 .slider-btn:nth-child(2)
 {
   right: 21%;
 }



  /* for w-25 */
  .button-container.w-25 .slider-btn:first-of-type
  {
   left: 34%;
 }

 .button-container.w-25 .slider-btn:nth-child(2)
 {
   right: 34%;
 }






  .slider-btn:hover {
    color: white;
    background: var(--color-primary);
  }
}
@media (max-width: 576px) {
  .navbelt_container {
    /* height: 90px; */
  }
  .slider-btn {
    top: 12rem !important;
  }


  /* w-75 */
  .button-container.w-75 .slider-btn:first-of-type
  {
   left: 8%;
 }

 .button-container.w-75 .slider-btn:nth-child(2)
 {
   right: 8%;
 }

  /* for w-50 */
  .button-container.w-50 .slider-btn:first-of-type
  {
   left: 18%;
 }

 .button-container.w-50 .slider-btn:nth-child(2)
 {
   right: 18%;
 }


 /*  for w-25*/
.button-container.w-25 .slider-btn:first-of-type
{
 left: 30%;
}

.button-container.w-25 .slider-btn:nth-child(2)
{
 right: 30%;
}

  .navbelt-item {
    width: 100px;
  }
  .navbelt_image img {
    height: 3.3rem;
  }
  .slider-btn {
    top: 12.7rem !important;
  }
}
